<% provide(:title, "Help") %>
	
<h1>Help</h1>
<p>
	In case of any help required related to Ruby on Rails tutorial
	please visit <a href="http://www.railstutorial.org/#help">Rails tutorial help section</a>.	
</p>
